<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BloodDonorDBConnectionString" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BloodDonorDB;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Disable jQuery requirement for ASP.NET Web Forms validation controls -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <!-- Force ASP.NET AppDomain Reload -->
</configuration>
